@model GameStore.Domain.Model.Feedback

@{
    ViewBag.Title = "Delete";
}


<h3>Bạn có chắc chăn muốn xóa phản hồi này?</h3>
<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            Tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt style="text-align:left">
           Nội dung:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt style="text-align:left">
            Ngày phàn hồi:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFeedback)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
