@model GameStore.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register for Game Store</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Space Register Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- css files -->
    <link href="../../css/register.css" rel="stylesheet" type="text/css" media="all" />
    <!-- css files -->
    <!-- Online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <!-- //Online-fonts -->

</head>
<body>

    <!-- Main Content -->
    <div class="main">
        <div class="main-w3l">
            <h1 class="logo-w3">Game Store</h1>
            <div class="w3layouts-main">
                <h2><span>Register</span></h2>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @type = "email" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "password1", @type = "password" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @id = "password2", @type = "password" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name", @type = "text" })
                    <div class="form-group" style="color: white">
                        @Html.LabelFor(m => m.Membership)
                        <div>
                            <label style="color: white">
                                @Html.RadioButton("Membership", "Regular", true)
                                Regular
                            </label>
                            <label style="color: white">
                                @Html.RadioButton("Membership", "Advanced", false)
                                Advanced
                            </label>
                        </div>
                    </div>
                    <input type="submit" value="Register" name="register">
                }
            </div>
            <!-- //main -->
            <!-- password-script -->
            <script>
				window.onload = function () {
					document.getElementById("password1").onchange = validatePassword;
					document.getElementById("password2").onchange = validatePassword;
				}

				function validatePassword() {
					var pass2 = document.getElementById("password2").value;
					var pass1 = document.getElementById("password1").value;
					if (pass1 != pass2)
						document.getElementById("password2").setCustomValidity("Passwords Don't Match");
					else
						document.getElementById("password2").setCustomValidity('');
					//empty string means no validation error
				}
            </script>
            <!-- //password-script -->

        </div>
    </div>
    <!-- //Main Content -->

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}