@using GameStore.Extension;
@model List<GameStore.WebUI.Areas.Admin.Models.DTO.ProductDTO>

<style>
    .special_grid_col {
        float: left;
        overflow: hidden;
        text-align: center;
    }

    .special_grid_col .special_box {
        display: block;
    }

    .special_box .panel .panel-heading {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    @@media only screen and (max-width: 1920px) {
        .special_grid_col {
            width: 25%;
        }
    }

    @@media all and (max-width: 739px) {
        .special_grid_col {
            width: 33.33%;
        }
    }

    @@media all and (max-width: 585px) {
        .special_grid_col {
            width: 50%;
        }
    }

    @@media all and (max-width: 380px) {
        .special_grid_col {
            width: 100%;
        }
    }

    @@media all and (max-width: 252px) {
        .special_grid_col {
            width: 100%;
        }
    }
</style>
@Html.Partial("_FrontPartial")
<section id='content'>
    @foreach (var item in Model)
    {
        <div class="special_grid_col productitem col-md-3 col-xs-6 col-sm-6">
            <div class="special_box">
                <div class="panel panel-primary">
                    <div class="panel-heading">@item.ProductName</div>
                    <div class="panel-body"><a href='/Product/Detail/@item.ProductId'><img src="~/images/@item.Image" class="img-responsive" style="width:100%" alt="Image"></a></div>
                    <div class="special_item_price">
                        <span class="price-old">@Html.FormattedCurrency(item.Price)</span><span class="price-new">@Html.FormattedCurrency(item.GetDiscountedPrice())</span>
                    </div>
                    <div class="panel-footer">
                        @using (Html.BeginForm("AddToCart", "Product", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <input type='hidden' name='id' value='@item.ProductId'>
                            <input type='hidden' name='quantity' value='0'>
                            <input type='submit' class='btn btn-warning' value='Add to Cart'>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</section>

@if (@ViewBag.code == 2)
{
    <script type="text/javascript">
        swal({
            icon: 'success',
            title: 'Add to cart success',
            text: 'Add product to cart success',
            buttons: false,
            timer: 1500
        })
    </script>
}
